body{
	background-color: cadetblue;
}
h1{
    font-family: Candara;
    position: absolute;
    top: 0px;
    left: 200px;
}
input[type=file] {
    width: 100%;
    background-color: #9CC7D5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.upload {
    font-family: Gadugi;
    position: relative;
	width: 40%;
	margin: auto;
}
input[type=submit] {
    width: 100%;
    background-color: #9CC7D5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    width: 100%;
    background-color: #8BB6C4;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
table {
	position: relative;
	width: 60%;
	margin: auto;
}
.submit {
	position: relative;
	top: 20%;
	margin: auto;
}
.list{
    font-family: Gadugi;
    position: relative;
    width: 75%;
    background-color: #25b7d5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
}
.preferred{
    font-family: Gadugi;
    position: relative;
}
.preferred2{
    font-family: Gadugi;
    position: relative;
}
.preferred3 {
    font-family: Gadugi;
    position: relative;
}
.Notpreferred1{
    font-family: Gadugi;
    position: relative;
}

.Notpreferred2{
    font-family: Gadugi;
    position: relative;
}

.Notpreferred3{
    font-family: Gadugi;
    position: relative;
}
.logoutButton{
    position: absolute;
    top: -50%;
    right: 0px;
}
.uploadJournal{
    position: relative;
	width: 37%;
	margin: auto;
}
.mainMenu{
    position: relative;
	width: 40%;
	margin: auto;
}
.failed {
    position: absolute;
    top: 450px;
    left: 48%;
}
.rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    background-color: ghostwhite;
}