body{
	background-color: cadetblue;
}
h1{
    font-family: Candara;
    position: absolute;
    top: 0px;
    left: 200px;
}
input[type=file] {
    width: 100%;
    background-color: #9CC7D5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
select {
    font-family: Gadugi;
    background-color: #9CC7D5;
	color: ghostwhite;
    border: 2px;
    border-radius: 5px;
}
select:hover {
    background-color: #8BB6C4;
    border: 2px;
    border-radius: 5px;
}
.upload {
    font-family: Gadugi;
    position: relative;
	width: 40%;
	margin: auto;
}
input[type=submit] {
    width: 100%;
    background-color: #9CC7D5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    width: 100%;
    background-color: #8BB6C4;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
table {
	position: relative;
	width: 60%;
	margin: auto;
}
.submit {
	position: relative;
	top: 20%;
	margin: auto;
}
.list{
    font-family: Gadugi;
    position: relative;
    width: 75%;
    background-color: #25b7d5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 10px 10px;
    border: 2px;
    border-radius: 100px;
	border-color: cadetBlue;
}
.preferred{
    font-family: Gadugi;
    position: relative;
	padding: 2px;
}
.buttons {
    position: absolute;
    top: 20px;
    right: 5%;
}
.logoutButton {
    position: absolute;
    top: 0;
    right: 0;
}
.returnMenuButton {
    position: absolute;
    top: 0;
    right: 100px;
}
.uploadJournal{
    position: relative;
	width: 37%;
	margin: auto;
	padding: 5px;
}
.failed {
    position: absolute;
    top: 450px;
    left: 48%;
}
.rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    background-color: ghostwhite;
}