body{
	background-color: cadetblue;
    font-family: Gadugi;
	color: ghostwhite;
}
h1 {
    font-family: Candara;
    position: absolute;
    top: 2px;
    left: 50px;
	color: black;
}
table {
	width: 100%;
	padding: 10px;
	position: relative;
	text-align: center;
}
.page {
	width: 90%;	
	top: 90px;
}
.row {
	background-color: #7eb0b3;	
}
.row:hover {
	background-color: #558e90;
}
.head {
	padding: 10px;
	border-bottom: 1px solid ghostwhite;
	vertical-align: center;
}
.entry {
	padding: 10px;
    font-family: Gadugi;
	color: ghostwhite;
	border-bottom: 1px solid #ddd;
}
.title {
	padding: 20px;
}
.infoTables {
	padding: 20px;
}
.journal {
    font-family: Gadugi;
	border-collapse: collapse;
	border-radius: 4px;
	padding: 10px;
}
.reviewPref {
    font-family: Gadugi;
	border-collapse: collapse;
	border-radius: 4px;
	padding: 10px;
}
.comTitle {
	padding: 20px;
}
.comments {
	border-collapse: collapse;
	border-radius: 4px;
	padding: 20px;
}
.reviewJournal {
	text-align: center;
}
.update {
    font-family: Candara;
    position: absolute;
    top: 470px;
    left: 30px;
}
.deadlineMsg {
    font-family: Gadugi;
	text-align: center;
}
.pleaseLogin {
    font-family: Gadugi;
    height: 0;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 45%;
}
input[type=submit] {
    width: 100%;
    background-color: #9CC7D5;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    width: 100%;
    background-color: #8BB6C4;
    font-family: Gadugi;
    color: ghostwhite;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
select {
    font-family: Gadugi;
    background-color: #9CC7D5;
    color: ghostwhite;
    border: 2px;
    border-radius: 5px;
}

select:hover {
    background-color: #8BB6C4;
    border: 2px;
    border-radius: 5px;
}
.buttons {
    position: absolute;
    top: 25px;
    right: 5%;
}
.finalButtons {
	width: 100%;
}
#button1 {
	width: 30%;
}
.returnButton{
    position: absolute;
    top: 0px;
    right: 290px;
}
.logoutButton {
    position: absolute;
    top: 0;
    right: 0;
}
.returnMenuButton {
    position: absolute;
    top: 0;
    right: 100px;
}
.rectangle {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 90px;
    width: 100%;
    background-color: ghostwhite;
}
